/* CSS Reset */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Home Page */

.App > p,
.App > h1
.App > ul {
  padding: 10px;
}

.App > ul {
  list-style: inside;
}

.App li {
  padding-left: 20px;
}
